@media screen and (max-width: 1060px) {
    .container{
        width: 90%;
    }
    ul#menu li a.button {
        /*padding: 20px 75px;*/
        /*font-size: .9em;*/
    }
   /* iframe {
        width: 100%;
    }*/
    p{
        font-size: 1em;
    }
}

@media screen and (max-width: 767px) {
    /*ul#menu li a.button {
        padding: 20px 30px;
    }*/
    img #port{
        width: 100%;
        height: auto;
    }
     ul#menu li a.button {
        /*padding: 20px 75px;*/
      /*  font-size: 1em;*/
        padding: 2px 2px 2px 2px; 	
    }
    #footer img{
        width: 100px;
    }
    .half_container { /* provides a two column presentation */
        width: 80%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    #title-page h1 { 
        font-size: 60px;
    }
    #splash {
        height: 748px;
    }
    #title{
	width: 75%;
	padding: 10px 0px 0px 40px;
	margin: 0;
    }
    #flot {
	width: 90%;
    }
}

@media screen and (max-width: 480px) {
    ul#menu li a.button {
        padding: 2px 2px 2px 2px;	
        font-size: 0.9em;
    }
    #splash {
        height: 650px;
    }
    #title{
	width: 89%;
	padding: 10px 0px 0px 40px;
	margin: 0;
    }
    #flot {
	width: 90%;
    }
}