@charset "UTF-8";
/*Created by Jacob Tillman*/
body {
	font-family: "Courier New", Times, sans-serif;
	font-size: 15px;
	line-height: 1.6em;
	color: #FFFFFF;
	background-color: #000000;
	padding: 0 40px;
	margin: 0;
	padding: 0;
	width: innerWidth;
}

/*text styles*/
p, td, img {
	letter-spacing: 0.1em;
	color: #FFFFFF;
	padding: 0 40px;
	width: innerWidth;
	word-wrap: normal;
}
li {
	letter-spacing: 0.1em;
	color: #16151D;
}
h1 {
	font-family: "Courier", sans-serif;
	font-size: 30px;
	padding: 8px 8px 8px 20px;
	font-variant: small-caps;
	letter-spacing: .5em;
	line-height: 2em;
	background-color: #000000;
	margin: 0;
}
h2 {
	font-size: 20px;
	color: #000000;
	padding: 6px 6px 6px 15px;
	font-variant: italic;
	letter-spacing: 0.5em;
	background-color: #FFFFFF;
}
q{
	color: #16151D;
}

/*link styles*/
a:link {
	font-weight: bold;
	color: #00ff00;
	text-decoration: none;
	vertical-align: text-top;
}
a:visited {
	font-weight: bold;
	color: #00ff00;
	text-decoration: none;
}
a:hover {
	color: #009900;
}

/*list styles*/
ul li {
	margin-left: 12px;
}
ol {
	margin-left: 60px;
}
ol li {
	padding-left: 0px;
}

/*table styles*/
table {
	border: solid #16151D 1px;
}
td {
	padding: 6px;
	border: solid #16151D 1px;
}
th {
	font-weight: bold;
	text-align: center;
	padding: 6px;
	border: solid #16151D 1px;
	background-color: #1C3D32;
	
}

/*border styles*/
hr {
	border: solid #1C3D32 1px;
}
iframe {
	border: none;
	padding: 8px;
	margin: 8px;
}

/*div styles*/
#container { 
	width: innerWidth; 
	margin: 0 auto; 
	background-color: #000000; 
	overflow: hidden; 
}
#header { 
	width: 100%; 
	background-color: #000000;
	/* border-bottom: 1px solid #6D8845; */
}
#content { 
	width: innerWidth;
	float: left; 
	padding-bottom: 40px;
}
#sidebar { 
	width: 270px; 
	float: left;
	margin-top: 80px;
	margin-right: 0px;
	background: #eee;
	border: 1px solid #6D8845;
}
#sidebar p{
	padding: 0;
}
#footer {
	text-align: center;
	clear: both;
	width: 100%; 
	background-color: #000000;
	border-top: 1px solid #FFFFFF;
}
#footer p {
	margin: 0;
	padding: 40px;
}
#header img {
	margin: 0;
	padding: 0;
}
#port {
	float: left;
	padding-left: 0;
	width: 500px;
}
#flot {
	float: left;
	padding-left: 0;
}
#360{
	width: 50%;
	height: 50%;
	max-width: 100%;
}
input.a{
	visibility: hidden;
}
button.b{
	float: right;
	padding-left: 0;
}
.half_container { /* provides a two column presentation */
  width: 50%;
  float: left;
  overflow: hidden;
}